spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/srm
    username: srm_user
    password: srm_pass

  thymeleaf:
    enabled: true
    prefix: classpath:/templates/
    suffix: .html
    mode: HTML
    cache: false

  mvc:
    throw-exception-if-no-handler-found: true
  web:
    resources:
      add-mappings: false
  security:
    oauth2:
      client:
        registration:
          keycloak:
            client-id: crm
            client-secret: ew8Wu84eov57robzwayltTOPF2wNzzyK
            scope: openid
            authorization-grant-type: authorization_code
            redirect-uri: "{baseUrl}/login/oauth2/code/{registrationId}"
        provider:
          keycloak:
            issuer-uri: http://193.233.193.42:8082/realms/crm

      resourceserver:
        jwt:
          issuer-uri: http://193.233.193.42:8082/realms/crm
  jpa:
    show-sql: false
    defer-datasource-initialization: false
    hibernate:
      ddl-auto: create-drop
  
  flyway:
    enabled: false
    baseline-on-migrate: true
    validate-on-migrate: true
    locations: classpath:db/migration

server:
  port: 8083
